@using ExpenseTrackerApp.Models;
@model IEnumerable<ExpenseTrackerApp.Models.DAL.QuestionsModel>
@{
    var profileData = Session["UserProfile"] as DAL.UserProfileSessionData;



}

<div class="row">
    <div class="page-title">
        <div class="pull-left ">
            <h1><span>Quiz Management System</span><i class="material-icons">&#xE315;</i> @Model.FirstOrDefault().SubjectName</h1>
        </div>
        <ul class="pull-right list-inline topFields">
            <li>
                <label for="agent-name" class="control-label">User ID</label>
            </li>
            <li>
                <input type="text" readonly="true" maxlength="250" value="@profileData.User_Name" class="form-control ignore" id="UserName" placeholder="">
            </li>
            <li>
                <label for="agent-name" class="control-label">Time Left</label>
            </li>
            <li>
                <label for="agent-name" class="control-label"> <p id="demo"></p></label>
            </li>
        </ul>
        <!-- /.control-group -->

    </div>
</div>
<div id="FSecureSalesForm" class="fixed-panel-container">
    <div class="panel panel-default salesPanel">


        <div class="panel-heading">
            Multiple Choice Questions
        </div>

        <div class="panel-body">


            <fieldset class="row">
                @foreach (var item in Model)
                {
                    if(item.ChoiceType== "Single")
                    { 
                    <div class="form-group col-md-3">
                        <label for="QuestionNumber" class="control-label"><b>@item.Question.Replace("?", "")</b></label><br>
                        <input type="radio" value="@item.Option1"> @item.Option1<br>
                        <input type="radio" value="@item.Option1"> @item.Option2<br>
                        <input type="radio" value="@item.Option1"> @item.Option3<br>
                        <input type="radio" value="@item.Option1"> @item.Option4<br>
                    </div>
                    }
                }

            </fieldset>

        </div>

        <div class="panel-heading">
            True False Questions
        </div>

        <div class="panel-body">
            <div class="row">
                @foreach (var item in Model)
                {
                    if(item.ChoiceType== "True/False")
                    { 
                    <div class="form-group col-md-2">
                        <label for="customername" class="control-label"><b>@item.Question.Replace("?", "")</b></label><br>
                        <input type="checkbox"  value="@item.Option1">@item.Option1<br>
                        <input type="checkbox" value="@item.Option2">@item.Option2<br>
                    </div>
                    }
                }
            </div>
        </div>




        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-primary" id="add"><i class="material-icons md-20 margin-right-none"></i>Submit</button>
            <button type="submit" class="btn btn-default" onclick="Clear();">Clear</button>
        </div>
    </div>
</div>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Jul 22, 2018 15:10:25").getTime();
    var timeallocated = @ViewBag.TimeAllocated.ToString();
    var d1 = new Date(),
    d2 = new Date(d1);
    d2.setMinutes(d1.getMinutes() + timeallocated);


    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = d2 - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML =hours + "h "
        + minutes + "m " + seconds + "s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "TIME OUT";
        }
    }, 1000);
</script>
